<section class="ani">
  <!-- <h2 data-text="ReadyAssist..." class="assist">ReadyAssist...</h2> -->
  <h2 class="assist"><span>QUALITY</span> IS <span>REMEMBERED</span></h2>
</section>

  <!-- next page! -->

  <section class="information">
    <h1 class="info-h1">What are We...</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ad.</p>

    <div class="row">
        <div class="info-col">
            <h3 class="info-col">ABOUT US</h3>
            <p class="info-p">ReadyAssist intends to be the best roadside assistance provider in India by addressing the real time vehicle breakdown problems
              of customers using deep machine learning, data intelligence and operations efficiency.We are headquartered in Bangalore,
              the beautiful garden city of India and also fontly called as the silicon valley of India among the startup ecosystem. </p>
        </div>

        <div class="info-col">
          <h3 class="info-col">LOCATION</h3>
          <p class="info-p">We are headquartered in Bangalore,
            the beautiful garden city of India and also fontly called as the silicon valley of India among the startup ecosystem.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, nulla quaerat maxime nemo deleniti quis magnam doloremque 
            quam corporis neque?</p>
      </div>

      <div class="info-col">
        <h3 class="info-col">SERVICES.</h3>
        <p class="info-p">ReadyAssist provides 24/7 On-Spot Breakdown Support, Flat Tyre Repairs, fixes for starting problems & towing service to customers through
          our annual subscriptions & on-demand. ReadyAssist services are available across any nook and corner of India to our customers
          through the subscription model.</p>
    </div>

    </div>

  </section>

  <!-- .................................subscription plans..................... -->

  <section class="sub">
    <h1 class="sub-h1">Subscription Plans</h1>
    <p class="sub-p">Check out our latest plans/values.</p>

    <div class="row">
      <div class="sub-col">
          <img src="../../assets/mech.jpg">
          <div class="layer">
            <h3>4W Freedom Plan</h3>
          </div>
      </div>

      <div class="sub-col">
        <img src="../../assets/mech2.jpg">
        <div class="layer">
          <h3>Car Basic</h3>
        </div>
    </div>

    <div class="sub-col">
      <img src="../../assets/mech 3.jpg">
      <div class="layer">
        <h3>2Wheeler Pro</h3>
      </div>
  </div>

    </div>
</section>
  
<!-- ............................BRANDING............................ -->
<section class="ani-text">
  <div class="container">
    <div class="content-section">
      <div class="header-body">
        <div>
          <div>
            <p>
              Become our RSA partner & get assured business & take your business next level with us.
            </p>
            <span class="bar"></span>
            <h1 data-text="ReadyAssist..." class="header-h1">ReadyAssist...</h1>
          </div>
          <div>
            <h1 data-text="...JoinUs" class="header-h1">...JoinUs</h1>
            <span class="bar"></span>
            <p>
              Choose your path to partnership & get all the support you need to succeed. remember, readyassist is always there for you.
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
 
  
</section>


 <!-- .................fecilities .......................--> 

 <section class="facilities">
  <h1 class="f-h1">Our Facilities</h1>
  <p class="f-p">Subscribe now for hassle free ride at you fingertips.</p>

  <div class="row">
      <div class="facilities-col">
        <img src="../../assets/readyyy.jpg">
        <h3 class="f-h3">World Class Delivery</h3>
        <p class="f-p"> ReadyAssist provides 24/7 on the spot breakdown support, fixes for starting problems, battery jumpstart</p>
      </div>

      <div class="facilities-col">
        <img src="../../assets/readyyyy.jpg">
        <h3 class="f-h3">Clean Code</h3>
        <p class="f-p">ReadyAssist provides 24/7 onspot breakdown support & towing service anytime anywhere in India.</p>
      </div>

      <div class="facilities-col">
        <img src="../../assets/HERO.jpg">
        <h3 class="f-h3">Great quality</h3>
        <p class="f-p">Bike & Car Puncture Repair - Bike & Car Battery Jumpstart - Bike & Car Breakdown Support - Bike & Car Roadside Assistance- Bike & Car Towing Service</p>
      </div>
  </div>



</section>

<section class="load">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>
<!--.......................................... review.......................................... -->
<!-- <section class="testimonial" id="testimonial">
  <h2 class="t-h2">What Our Cients Say</h2>
  <p class="section-desc">
    We provide a services/ experience that is not available elsewhere. We
    have over 1,00,000+ happy customers.
  </p>
  <div class="row">
    <div class="column">
      <div class="testimonial-image">
        <img src="../../assets/person-1.jpg" />
      </div>
      <p class="t-p">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est alias
        eligendi quia explicabo dolorem dignissimos nisi consequatur nobis
        quaerat quas iure nostrum laudantium similique ea iste sequi tempore
        natus, repellat quae deleniti. Veritatis sit deserunt rerum cum
        consectetur voluptate nisi.
      </p>
      <h3 class="t-h3">Mark King</h3>
    </div>
    <div class="column">
      <div class="testimonial-image">
        <img src="../../assets/person-2.jpg" />
      </div>
      <p class="t-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
        exercitationem, deleniti illo modi voluptatibus, voluptatem totam ea
        consequuntur sint, sit voluptas laboriosam? Aperiam, iure sequi sunt
        assumenda molestiae recusandae, harum id aliquam ipsam eveniet
        ratione cupiditate libero quasi nobis nulla.
      </p>
      <h3 class="t-h3">Rose Smith</h3>
    </div>
  </div>
</section> -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>